<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @game.userid %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @game.steps %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
